@tailwind base;
@tailwind components;
@tailwind utilities;

@import "maplibre-gl/dist/maplibre-gl.css";

:root {
  --background: #ffffff;
  --foreground: #0d0d0d;
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* MapLibre container sizing */
.maplibregl-map {
  width: 100%;
  height: 100%;
}
